# Зависимости
node_modules/

# Сборка
dist/
dist-ssr/
build/

# Переменные окружения
.env
.env.*
!.env.example

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Кэш и временные файлы
.vite/
.cache/
*.local

# Редакторы / ОС
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
